{% extends "product/home.html" %}



    {%block content%}
    <div id="filter_position">
        <div class="filter_position_text" >

            <span style=" font-size:23px;">Filters:</span>

            <div class="dropdown">
<button class="dropbtn">Category</button>
<div class="dropdown-content">
        {% for name_categ in categ_product%}
    <a href="{% url 'filter_product' now_categ name_categ %}">{{name_categ}}</a>
        {% endfor %}
    </div>
</div>


            <div class="dropdown" style="margin-left:-3px;">
<button class="dropbtn">Price</button>
<div class="dropdown-content">

    <a href="{% url 'filter_product' now_categ 'descending'%}">descending </a>
    <a href="{% url 'filter_product' now_categ 'ascending'%}">ascending</a>
    </div>
</div>


        </div>

    </div>




    <p style="margin-top:50px"></p>
    <div class="container">
    {% for e in product%}
         <div class="element">

             <div class="in_block_element">
            <a href="{% url 'product_view' now_categ e.url_name %}" class="displays_href_product">
            <img src="{{e.photo.url}}">

                    <div style="text-decoration: underline; color:black; text-align: center; ">  {{e.price}} Rubles
            <p style="text-decoration: none;">{{e.name}}</p>

                       </div>
               </a>
            </div>

         </div>

    {% endfor %}
      </div>

    {%endblock content%}

    {%block menu_panel%}
        <div id="menu">
            <div id = "place_categ">
        {% for e in menu %}
          {% for  name, url_name in e.items %}

            {% if url_name == now_categ %}
        <a href="{% url 'choose_categ' url_name %}" id="menu_proper_new">{{name}}</a>
                {% else %}
        <a href="{% url 'choose_categ' url_name %}" id="menu_proper">{{name}}</a>
            {% endif %}

            {% endfor %}
        {% endfor %}
                </div>
        </div>
        {%endblock menu_panel%}