{% extends "product/home.html" %}



    {%block content%}
    <div id="filter_position">
        <div class="filter_position_text" >

            <span style=" font-size:23px;">Filters:</span>

            <div class="dropdown">
<button class="dropbtn">Category</button>
<div class="dropdown-content">
        {% for name_categ in categ_product%}
    <a href="{% url 'filters_add_liked'  name_categ %}">{{name_categ}}</a>
        {% endfor %}
    </div>
</div>


            <div class="dropdown" style="margin-left:-3px;">
<button class="dropbtn">Price</button>
<div class="dropdown-content">

    <a href="{% url 'filters_add_liked'  'descending'%}">descending </a>
    <a href="{% url 'filters_add_liked'  'ascending'%}">ascending</a>
    </div>
</div>


        </div>

    </div>


    <p style="margin-top:50px"></p>
    <div class="container">
    {% for e in product%}
         <div class="element">

             <div class="in_block_element">

            <a href="{% url 'product_view' e.gender 'clothes' e.url_name %}" class="displays_href_product">


            <img src="{{e.photo.url}}">

                    <div style="text-decoration: underline; color:black; text-align: center; ">  {{e.price}} Rubles
            <p style="text-decoration: none;">{{e.name}}</p>

                       </div>
               </a>
            </div>

         </div>

    {% endfor %}
      </div>

    {%endblock content%}

